@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
html {
    background-color: #050A30;
}

.Main {
    background-image: repeating-conic-gradient(from 30deg, #050A30 0% 25%, #060c35 25% 50%) ;
    background-size: 50px 50px;
}

.Container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #050A30;
    border-radius: 5%;
}

.Logo {
    margin: 0 auto; /* Center horizontally */
    padding-top: 1rem; /* Adjust as needed */
    width: 400px;
    height: 400px;
    background-color: #050A30;
}

.LTitle {
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}

.Textbox {
    border-radius: 8px;
    background-color: aliceblue;
    border: #050A30 solid thin;
}

.Button1 {
    margin-top: 40px;
    width: 70px;
    height: 35px;
    align-items: center;
}