@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400&display=swap");
html {
    background-color: #050A30;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #050A30;
}

.Logo {
    margin: 0 auto; /* Center horizontally */
    padding-top: 1rem; /* Adjust as needed */
    width: 300px;
    height: 300px;
    background-color: #050A30;
}

.LTitle {
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}